{% extends 'base.html' %}
{% set active_page = 'card' %}
{% from 'datatables.html' import generate_card_table %}
{% from 'datatables.html' import generate_inv_card_table %}

{% block title %}
{{ card_info[card_id]['name'] }} {{ '(' + card_info[card_id]['xp_text'] + ')' if card_info[card_id]['xp_text']!='' else ''}}
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}
{% include 'collection.html' %}
<div class="container-fluid mt-2">
    
    <div class="card">
        <div class="card-header">
            <h3 class="subheader">Card summary</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://arkhamdb.com/bundles/cards/{{card_id}}.png"></img>
                </div>
                <div class="col-md-8">
                    <ul><b>Name:</b> {{card_info[card_id]['name']}}</ul>
                    <ul><b>Faction:</b> {{card_info[card_id]['faction_code']|capitalize}}</ul>
                    <ul><b>Cost:</b> {{ card_info[card_id]['cost'] }}</ul>
                    <ul><b>Traits:</b> {{card_info[card_id]['traits']}}</ul>
                    <ul><b>XP:</b> {{card_info[card_id]['xp_text']}}</ul>
                    <ul><b>Text:</b> {{card_info[card_id]['text_icons']|safe}}</ul>
                    <ul><b>Occurrence:</b> {{ 'Present in %d out of %d decks analysed (%d%%)'|format(card_info[card_id]['Occurrences'], num_of_decks, (100*card_info[card_id]['Occurrences'] / num_of_decks)) }}</ul>
                    <ul><b>Popularity:</b>  {{ 'Ranked %d out of %d cards analysed (percentile %d%%)'|format((card_info[card_id]['occurrences_rank']),num_of_cards,100-100*(card_info[card_id]['occurrences_rank'])/num_of_cards) }} </ul> 
                </div>
            </div>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-lg-6 align-items-stretch">
          <div class="card">
            <div class="card-header">
              <h3 class="subheader">Similarity to other cards</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    {{ generate_card_table(card_info, card_id) }}
              </div>
            </div>
          </div>        
        </div>
    
        <div class="col-lg-6 align-items-stretch">
          <div class="card">
            <div class="card-header">
              <h3 class="subheader">Usage by investigators</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                {{ generate_inv_card_table(investigators) }}
              </div>
            </div>
          </div>
        </div>
</div>


{% endblock %}